<!DOCTYPE html>
<html>

<head>
    <title>Flask Template Example</title>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 30%;
        }

        #customers td, #customers th {
            border: 2px solid #ddd;
            padding: 6px;
        }

        #customers tr:nth-child(even) {
            background-color: #F1F3FF;
        }

        #customers tr:hover {
            background-color: #ddd;
        }


    </style>
</head>
<body>
<div class="container">
    <h1>Table Name: {{ my_string }}</h1>
    <FORM METHOD="POST" ACTION="http://jkorpela.fi/cgi-bin/echo.cgi">
    <table id="customers">
        <tbody>
        <tr>
            {% for cell in my_list %}
                <td><b>{{ cell }}</b></td>
            {% endfor %}
        </tr>
        <tr>
            <td><b></b></td>
            {% for cell in range((my_list|length)-1) %}
                <td><b>
                    <select>
                        {%  if fillups[0][cell+1] is string %}
                            <option value="contains">Contains</option>
                            <option value="startsWith">Starts with</option>
                            <option value="endsWith">Ends with</option>
                        {%  endif %}
                        {%  if fillups[0][cell+1] is number %}
                            <option value="<">Less than</option>
                            <option value=">">Greater than</option>
                            <option value="=">Equal to</option>
                            <option value=">=">Greater than or equal to</option>
                            <option value="<=">Less than or equal to</option>
                        {%  endif %}

                    </select>
                    <INPUT TYPE="TEXT" NAME="name" SIZE="10"></b></td>
            {% endfor %}
            <input type="submit" value="Submit">
        </tr>
        {% for row in fillups %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </FORM>
</div>
</body>
</html>


{#code for syling used from here#}
{#https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy#}